body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.card {
    max-width: 800px;
    margin: auto;
    border-radius: 15px;
}

.vm-info p {
    margin: 5px 0;
    color: #555;
}

button {
    width: 120px;
}

.user-info button {
    font-size: 12px;
    padding: 5px 10px;
}
